@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700&display=swap');

.aboutContainer {
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 400px;
    background-color: rgb(93, 1, 136);
    border: solid 2px rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px 15px rgb(190, 0, 255);
    opacity: 0. 98;
    color: whitesmoke;
    padding: 10px;
    margin: 0px 750px;
}

.imagenAbout {
    background-image: url('../../assets/rym_img_about.png');
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px rgb(190, 0, 255);
    box-shadow: 0px 0px 20px 15px rgba(174, 0, 255, 0.637);
    background-size: cover;
    background-position: center;
}

.nombre{
    font-size: xx-large;
    background-color: rgb(255, 1, 107);
    color: white;
    border-radius: 10px;
    padding: 15px ;
    margin-top: 10px;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
}

.info{
    font-size: larger;
    margin: 25px;
    font-family: 'Geologica', sans-serif;
}