.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85vw;
    padding: 30px;
    gap: 50px;
}


.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}