.container {
    display: flex;
    width: 100%; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }