.app {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: url(https://www.xtrafondos.com/descargar.php?id=6046&resolucion=3840x2160);
}
