.container {
    display: flex;
    padding: 0px 30px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px 10px;
}

.barButtons {
    border: rgba(174, 0, 255, 0.63);
    background-color: rgba(174, 0, 255, 0.637);
    border-radius: 10px;
}

@font-face {
    font-family: "Get Schwifty";
    src: url(../../assets/get_schwifty.ttf);
}

.title {
    font-family: "Get Schwifty";
    color: rgb(84, 0, 122);
    text-shadow: 3px 3px black;
    font-size: 4rem;
    -webkit-text-stroke: 0.1px rgb(174, 0, 255);
    margin: 20px 10px;
}

.navLink {
    color: white;
    background-color: rgb(174, 0, 255);
    justify-content: center;
    margin: 0px 10px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navLink:hover {
    cursor: pointer;
    background-color: rgb(77, 0, 112);
}

.container div {
    padding: 10px;
}

.containerBotones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutButton {
    position: fixed;
    bottom: 25px;
    right: 40px;
    color: white;
    background-color: rgb(212, 1, 1);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    z-index: 100;
}

.logoutButton:hover {
    cursor: pointer;
    background-color: darkred;
}